* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: none;
  color: #fff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: #f8fbfe;
}

.container {
  max-width: 1148px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Start header */
.header {
  padding-top: 62px;
  display: flex;
  align-items: center;
}
.header__menu-link {
  margin-right: 40px;
  font-size: 16px;
  color: #4b5d68;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}
.header__menu-link:hover {
  color: #212353;
}
.header__menu-link--active {
  color: #212353;
  font-weight: 800;
}
.logo {
  margin-right: 121px;
}
/* End header */

/* Start section storehouse */
.storehouse {
  display: flex;
  margin-top: 143px;
}
.storehouse__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 885px 468px;
  margin-left: -279px;
  margin-top: 158px;
}
.storehouse__storage {
  min-width: 645px;
}
.storehouse__storage-title {
  max-width: 645px;
  font-size: 80px;
  color: #212353;
  font-weight: 700;
}
.storehouse__storage-text {
  margin-top: 40px;
  max-width: 380px;
  max-height: 120px;
  color: #4b5d68;
  font-weight: 500;
  line-height: 160%;
  font-size: 18px;
}
.storehouse__storage-btn {
  padding: 16px 37px 15px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 18px;
  line-height: 160%;
  background: #9c69e2;
  border: none;
}
/* End section storehouse */

/* Start storagebank */
.storagebank {
  padding: 125px 0 0 0;
  min-height: 560px;
  width: 100%;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  margin-top: 99px;
  display: flex;
}
.storagebank__img {
  background-repeat: no-repeat;
  background-position: 20px 0px;
  background-size: cover;
  max-width: 469px;
  max-height: 496px;
}
.storagebank__data {
  padding: 20px 92px 0 65px;
}
.storagebank__data-title {
  max-width: 475px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
}
.storagebank__data-text {
  max-width: 474px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
}
/* End storagebank */

/* Start features */
.features__title {
  margin: 150px 0 50px;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  align-items: center;
  text-align: center;
  color: #212353;
}
.features__text {
  margin: 0 auto;
  max-width: 584px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #4b5d68;
}
.features__items-item {
  max-width: 442px;
  min-height: 358px;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 50px;
  align-items: flex-start;
  padding-bottom: 10px;
}
.features__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0 0 50px 50px;
}
.features__items-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
  justify-content: center;
  padding: 49px 0 0 70px;
}
.features__items-text {
  font-size: 16px;
  line-height: 160%;
  color: #4b5d68;
  width: 237px;
  height: 60px;
  margin-left: 200px;
  padding-right: 20px;
}
.title-hourse {
  margin-right: -62px;
}
.title-search {
  margin-right: -28px;
}
.title-print {
  margin-right: 2px;
}
.title-security {
  margin-right: -46px;
}
.item-search::before {
  content: url(/img/features/img1.png);
  position: absolute;
  top: 90px;
  left: -50px;
}
.item-hours::before {
  content: url(/img/features/img2.png);
  position: absolute;
  top: 90px;
  left: -50px;
}
.item-print::before {
  content: url(/img/features/img3.png);
  position: absolute;
  top: 90px;
  left: -50px;
}
.item-security::before {
  content: url(/img/features/img4.png);
  position: absolute;
  top: 90px;
  left: -50px;
}
.features__item-btn {
  margin-left: 200px;
  margin-top: 96px;
  border: none;
  background: transparent;
  position: relative;
}
.features__item-btn::after {
  content: url(/img/arrow.svg);
  position: absolute;
  top: 2px;
  right: -35px;
}
.features__item-btn a {
  color: #212353;
}

/* End features */

@media (max-width: 1100px) {
  .storehouse {
    display: inline;
  }
  .storehouse__storage {
    min-width: 0px;
  }
  .storehouse__img {
    background-size: 885px 468px;
    margin-left: 0px;
    margin-top: -72px;
  }
  .storagebank {
    padding: 0px !important;
    margin-top: 30px !important;
  }
  .header__menu-link {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .features__items {
    justify-content: center !important;
  }
}
@media (max-width: 900px) {
  .storehouse__img img {
    max-width: 600px;
  }
  .storehouse__img {
    margin-top: -2px;
  }
  .logo {
    margin-left: 20px;
    margin-right: 20px;
  }
  .storagebank {
    flex-direction: column-reverse;
  }
  .storagebank__data-title {
    max-width: 100%;
  }
  .storagebank__data-text {
    max-width: 100%;
    margin-bottom: -40px;
  }
}
@media (max-width: 605px) {
  .storehouse__img img {
    max-width: 400px;
  }
  .storehouse__storage-title {
    font-size: 35px;
  }
  .storehouse__storage {
    margin-top: 40px;
  }

  .header__menu ul {
    display: flex;
  }
  .storagebank__data {
    padding: 0px 12px 0 12px;
  }
  .features__title {
    margin: 50px 0 30px;
    font-size: 45px;
  }
  .features__items {
    margin-top: 45px;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .storehouse__img img {
    max-width: 300px;
  }
  .storehouse__storage-text {
    margin-top: 0px;
    max-width: 380px;
    max-height: none;
    line-height: 148%;
    font-size: 14px;
  }
  .storehouse__storage-btn {
    padding: 8px 27px 10px;
    margin-bottom: 20px;
  }
  .storagebank__data-title {
    font-size: 30px;
  }
  .storagebank__data-text {
    font-weight: 300px;
    margin-bottom: -30px;
  }
  .header__menu-link {
    font-size: 15px;
    margin-right: 24px;
  }
  .features__items-item {
    width: 370px;
		border-radius: 0 40px 40px 0;
		margin-bottom: 100px;
  }
  .item-search::before {
    top: -102px;
    left: 55px;
  }
  .item-hours::before {
    top: -102px;
    left: 55px;
  }
  .item-print::before {
    top: -102px;
    left: 55px;
  }
  .item-security::before {
    top: -102px;
    left: 55px;
  }
  .features__items {
    margin-top: 132px;
  }
  .features__items-text {
    font-size: 13px;
    width: 270px;
    height: 60px;
    padding-left: 55px;
    margin-left: 0;
  }
  .features__items-title {
    margin: 38px 60px 0 0;
  }
  .features__item-btn {
    margin-left: 53px;
    margin-top: 62px;
  }
}
