* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: none;
  color: #fff;
}
ul,
h3 {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: #f8fbfe;
}

.container {
  max-width: 1148px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Start header */
.header {
  padding-top: 62px;
  display: flex;
  align-items: center;
}
.header__menu-link {
  margin-right: 40px;
  font-size: 16px;
  color: #4b5d68;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}
.header__menu-link:hover {
  color: #212353;
}
.header__menu-link--active {
  color: #212353;
  font-weight: 800;
}
.logo {
  margin-right: 121px;
}
/* End header */

/* Start section storehouse */
.storehouse {
  display: flex;
  margin-top: 143px;
}
.storehouse__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 885px 468px;
  margin-left: -279px;
  margin-top: 158px;
}
.storehouse__storage {
  min-width: 645px;
}
.storehouse__storage-title {
  max-width: 645px;
  font-size: 80px;
  color: #212353;
  font-weight: 700;
}
.storehouse__storage-text {
  margin-top: 40px;
  max-width: 380px;
  max-height: 120px;
  color: #4b5d68;
  font-weight: 500;
  line-height: 160%;
  font-size: 18px;
}
.storehouse__storage-btn {
  padding: 16px 37px 15px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 18px;
  line-height: 160%;
  background: #9c69e2;
  border: none;
}
/* End section storehouse */

/* Start storagebank */
.storagebank {
  padding: 125px 0 0 0;
  min-height: 560px;
  width: 100%;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  margin-top: 99px;
  display: flex;
}
.storagebank__img {
  background-repeat: no-repeat;
  background-position: 20px 0px;
  background-size: cover;
  max-width: 469px;
  max-height: 496px;
}
.storagebank__data {
  padding: 20px 92px 0 65px;
}
.storagebank__data-title {
  max-width: 475px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
}
.storagebank__data-text {
  max-width: 474px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
}
/* End storagebank */

/* Start features */
.features__title {
  margin: 150px 0 50px;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  align-items: center;
  text-align: center;
  color: #212353;
}
.features__text {
  margin: 0 auto;
  max-width: 584px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #4b5d68;
}
.features__items-item {
  max-width: 442px;
  min-height: 358px;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 50px;
  align-items: flex-start;
  padding-bottom: 10px;
}
.features__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0 0 50px 50px;
}
.features__items-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
  justify-content: center;
  padding: 49px 0 0 70px;
}
.features__items-text {
  font-size: 16px;
  line-height: 160%;
  color: #4b5d68;
  width: 237px;
  height: 60px;
  margin-left: 200px;
  padding-right: 20px;
}
.title-hourse {
  margin-right: -62px;
}
.title-search {
  margin-right: -28px;
}
.title-print {
  margin-right: 2px;
}
.title-security {
  margin-right: -46px;
}
.item-search::before {
  content: url(/img/features/img1.png);
  position: absolute;
  top: 90px;
  left: -50px;
}
.item-hours::before {
  content: url(/img/features/img2.png);
  position: absolute;
  top: 90px;
  left: -50px;
}
.item-print::before {
  content: url(/img/features/img3.png);
  position: absolute;
  top: 90px;
  left: -50px;
}
.item-security::before {
  content: url(/img/features/img4.png);
  position: absolute;
  top: 90px;
  left: -50px;
}
.features__item-btn {
  margin-left: 200px;
  margin-top: 96px;
  border: none;
  background: transparent;
  position: relative;
}
.features__item-btn::after {
  content: url(/img/arrow.svg);
  position: absolute;
  top: 2px;
  right: -35px;
}
.features__item-btn a {
  color: #212353;
}
/* End features */

/* Start testimonials */
.testimonials {
  min-height: 709px;
  background: #9c69e2;
  border-radius: 50px;
  margin-top: 50px;
}
.testimonials__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 109px 0 0 93px;
}
.slider {
  display: flex;
  margin: 88px 0 0 93px;
}
.slider__item-1 {
  width: 645px;
  background: #fff;
  height: 319px;
  box-shadow: 0px 20px 0px rgb(140 85 216 / 50%);
  border-radius: 20px;
  display: flex;
  cursor: pointer;
}
.slider__item-2 {
  background-image: url(/img/slider/2.png);
  width: 400px;
  height: 330px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-left: 20px;
  position: absolute;
  right: 325px;
  cursor: pointer;
}
.slider__item-3 {
  background-image: url(/img/slider/3.png);
  width: 178px;
  right: 111px;
  height: 330px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px 0 0 20px;
  margin-left: 20px;
  position: absolute;
  cursor: pointer;
}
.slider__item-3 img {
  border-radius: 50%;
}
.slider__item-avatar {
  margin: 60px 0 0 70px;
  width: 90px;
  height: 90px;
}
.slider__item-info {
  margin: 60px 0 0 30px;
}
.slider__item-name {
  font-weight: 900;
  font-size: 18px;
  line-height: 160%;
  align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
}
.slider__item-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  align-items: center;
  letter-spacing: 0.01em;
  color: #9c69e2;
}
.slider__item-text {
  font-size: 18px;
  line-height: 180%;
  color: #4b5d68;
  max-width: 385px;
}
.dots__arrow {
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
}
.dots {
  cursor: pointer;
  display: flex;
  margin-left: 93px;
  align-items: center;
}
.dots__item {
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.dots__item--activ {
  width: 10px;
  height: 10px;
  background: #f063b8;
  border-radius: 50%;
  margin-right: 10px;
}
.arrow {
  margin-right: 70px;
  cursor: pointer;
}
.arrow img {
  margin-right: 20px;
}
.item-1 {
  position: absolute;
  width: 100%;
}
.item-2 {
  position: absolute;
  right: -100px;
}
.item-3 {
  position: absolute;
  right: -377px;
  width: 100%;
}
/* End testimonials */

/* Start footer */
.footer {
  margin-top: 165px;
  padding-bottom: 65px;
}
.bg {
  margin-top: 150px;
  border-bottom: 1px solid #9c69e2;
  opacity: 0.2;
}
.footer__items {
  display: flex;
  justify-content: space-between;
}
.footer__items-social {
  margin-right: 20px;
}
.items-social__link-info {
  display: flex;
}
.items-social__link {
  width: 50px;
  height: 50px;
  background-color: #212353;
  opacity: 0.2;
  border-radius: 50%;
  margin-right: 14px;
}
.items-social__title {
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  margin-bottom: 30px;
}
.items-about__top {
  display: flex;
  align-items: center;
}
.footer__items-about {
  color: #212353;
  letter-spacing: 0.01em;
}
.items-about__title {
  font-weight: 900;
  margin-left: 20px;
  font-size: 20px;
  line-height: 160%;
}
.items-about__adress {
  max-width: 335px;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  margin-top: 64px;
}
.items-about__email {
  font-size: 16px;
  line-height: 180%;
  margin-top: 10px;
}
.items-about__phone {
  font-size: 16px;
  line-height: 180%;
}
.items-about__company {
  font-size: 12px;
  line-height: 180%;
  display: flex;
  align-items: center;
  margin-top: 36px;
}

/* End footer */

@media (max-width: 1820px) {
  .slider__item-3 {
    display: none;
  }
  .slider__item-2 {
    display: none;
  }
}
@media (max-width: 1100px) {
  .storehouse {
    display: inline;
  }
  .storehouse__storage {
    min-width: 0px;
  }
  .storehouse__img {
    background-size: 885px 468px;
    margin-left: 0px;
    margin-top: -72px;
  }
  .storagebank {
    padding: 0px !important;
    margin-top: 30px !important;
  }
  .header__menu-link {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .features__items {
    justify-content: center !important;
  }
}
@media (max-width: 900px) {
  .slider {
    margin: 30px 0 0 78px;
    padding: 20px;
  }
  .storehouse__img img {
    max-width: 600px;
  }
  .storehouse__img {
    margin-top: -2px;
  }
  .logo {
    margin-left: 20px;
    margin-right: 20px;
  }
  .storagebank {
    flex-direction: column-reverse;
  }
  .storagebank__data-title {
    max-width: 100%;
  }
  .storagebank__data-text {
    max-width: 100%;
    margin-bottom: -40px;
  }
}
@media (max-width: 605px) {
  .items-about__top {
    margin-top: 40px;
  }
  .bg {
    margin-top: 60px;
  }
  .footer {
    margin-top: 60px;
  }
  .items-social__title {
    margin-left: 45px;
  }
  .footer__items {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .slider__item-avatar {
    margin: 30px 0 0 21px;
  }
  .storehouse__img img {
    max-width: 400px;
  }
  .storehouse__storage-title {
    font-size: 35px;
  }
  .storehouse__storage {
    margin-top: 40px;
  }

  .header__menu ul {
    display: flex;
  }
  .storagebank__data {
    padding: 0px 12px 0 12px;
  }
  .features__title {
    margin: 50px 0 30px;
    font-size: 45px;
  }
  .features__items {
    margin-top: 45px;
    padding: 0px;
  }
  .slider__item-1 {
    height: fit-content;
  }
  .dots__arrow {
    padding-bottom: 10px;
  }
}
@media (max-width: 414px) {
  .arrow {
    margin-right: 7px;
  }
  .testimonials {
    min-height: 470px;
  }
  .slider__item-text {
    font-size: 11px;
    line-height: 163%;
  }
  .slider {
    margin: 0;
  }
  .testimonials__title {
    padding: 10px 0 0 37px;
  }
  .storehouse__img img {
    max-width: 300px;
  }
  .storehouse__storage-text {
    margin-top: 0px;
    max-width: 380px;
    max-height: none;
    line-height: 148%;
    font-size: 14px;
  }
  .storehouse__storage-btn {
    padding: 8px 27px 10px;
    margin-bottom: 20px;
  }
  .storagebank__data-title {
    font-size: 30px;
  }
  .storagebank__data-text {
    font-weight: 300px;
    margin-bottom: -30px;
  }
  .header__menu-link {
    font-size: 15px;
    margin-right: 24px;
  }
  .features__items-item {
    width: 370px;
    border-radius: 0 40px 40px 0;
    margin-bottom: 100px;
  }
  .item-search::before {
    top: -102px;
    left: 55px;
  }
  .item-hours::before {
    top: -102px;
    left: 55px;
  }
  .item-print::before {
    top: -102px;
    left: 55px;
  }
  .item-security::before {
    top: -102px;
    left: 55px;
  }
  .features__items {
    margin-top: 132px;
  }
  .features__items-text {
    font-size: 13px;
    width: 270px;
    height: 60px;
    padding-left: 55px;
    margin-left: 0;
  }
  .features__items-title {
    margin: 38px 60px 0 0;
  }
  .features__item-btn {
    margin-left: 53px;
    margin-top: 62px;
  }
}
