* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: none;
  color: #fff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: #f8fbfe;
}

.container {
  max-width: 1148px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Start header */
.header {
  padding-top: 62px;
  display: flex;
  align-items: center;
}
.header__menu-link {
  margin-right: 40px;
  font-size: 16px;
  color: #4b5d68;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}
.header__menu-link:hover {
  color: #212353;
}
.header__menu-link--active {
  color: #212353;
  font-weight: 800;
}
.logo {
  margin-right: 121px;
}
/* End header */

/* Start section storehouse */
.storehouse {
  display: flex;
  margin-top: 143px;
}
.storehouse__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 885px 468px;
  margin-left: -279px;
  margin-top: 158px;
}
.storehouse__storage {
  min-width: 645px;
}
.storehouse__storage-title {
  max-width: 645px;
  font-size: 80px;
  color: #212353;
  font-weight: 700;
}
.storehouse__storage-text {
  margin-top: 40px;
  max-width: 380px;
  max-height: 120px;
  color: #4b5d68;
  font-weight: 500;
  line-height: 160%;
  font-size: 18px;
}
.storehouse__storage-btn {
  padding: 16px 37px 15px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 18px;
  line-height: 160%;
  background: #9c69e2;
  border: none;
}
@media (max-width: 1100px) {
  .storehouse {
    display: inline;
  }
  .storehouse__storage {
    min-width: 0px;
  }
  .storehouse__img {
    background-size: 885px 468px;
    margin-left: 0px;
    margin-top: -72px;
  }
  .storagebank {
    padding: 0px !important;
    margin-top: 30px !important;
  }
  .header__menu-link {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .storehouse__img img {
    max-width: 600px;
  }
  .storehouse__img {
    margin-top: -2px;
  }
  .logo {
    margin-left: 20px;
    margin-right: 20px;
  }
  .storagebank {
    flex-direction: column-reverse;
  }
  .storagebank__data-title {
    max-width: 100% !important;
  }
  .storagebank__data-text {
    max-width: 100% !important;
		margin-bottom: -40px;
  }
}
@media (max-width: 605px) {
  .storehouse__img img {
    max-width: 400px;
  }
  .storehouse__storage-title {
    font-size: 35px;
  }
  .storehouse__storage {
    margin-top: 40px;
  }

  .header__menu ul {
    display: flex;
  }
	.storagebank__data {
    padding: 0px 12px 0 12px !important;
  }
}
@media (max-width: 400px) {
  .storehouse__img img {
    max-width: 300px;
  }
  .storehouse__storage-text {
    margin-top: 0px;
    max-width: 380px;
    max-height: none;
    line-height: 148%;
    font-size: 14px;
  }
  .storehouse__storage-btn {
    padding: 8px 27px 10px;
		margin-bottom: 20px;
  }
  .storagebank__data-title {
    font-size: 30px !important;
  }
  .storagebank__data-text {
    font-weight: 300 !important;
		margin-bottom: -30px;
  }
	.header__menu-link {
    font-size: 15px;
    margin-right: 24px;
  }
}
/* End section storehouse */

/* Start storagebank */
.storagebank {
  padding: 125px 0 0 0;
  min-height: 560px;
  width: 100%;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  margin-top: 99px;
  display: flex;
}
.storagebank__img {
  background-repeat: no-repeat;
  background-position: 20px 0px;
  background-size: cover;
  max-width: 469px;
  max-height: 496px;
}
.storagebank__data {
  padding: 20px 92px 0 65px;
}
.storagebank__data-title {
  max-width: 475px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
}
.storagebank__data-text {
  max-width: 474px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
}
/* End storagebank */
